body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #b3273a;
  font-family: sans-serif;
}
.nav-item {
  font-family: sans-serif;
}
.navbar-brand {
  font-family: sans-serif;
}
#info {
  background-color: #b3273a;
}
